@charset "UTF-8";

:root {
    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   * {
    margin: 0px;
    padding: 0px;
   }

   body {
    background-color: rgba(173, 216, 230, 0.150);
    font-family: var(--fonte-padrao);
   }

   header {
    background-color: rgba(173, 216, 230, 0.150);
    min-height: 100px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 7px;
   }

   header > h1 {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: normal;
    margin:auto;
    margin-bottom: 21px;
   }

   header > h2 {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: normal;
    margin: auto;
    margin-bottom: 21px;
   }

   main {
    background-color: rgba(173, 216, 230, 0.150);
    min-width: 250px;
    max-width: 1000px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
   }

   main h1 {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: normal;
    margin: auto;
    margin-bottom: 21px;
    text-align: center;
   }

   main img {
    width: 25%;
   }

   main h2 {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 21px;
    margin-bottom: 21px;
    text-align: center;
   }
   
   h1.edicao1 {
    text-align: justify;
    margin: 35px;
    padding: 21px;
   }

   h2.edicao2 {
    text-align: justify;
    padding: 21px;
   }

   aside > ul {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: normal;
    margin-top: 21px;
    margin-right: 56px;
    margin-bottom: 21px;
    margin-left: 56px;
    text-align: justify;
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
   }

   aside > h3 {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 21px;
    margin-right: 56px;
    margin-bottom: 21px;
    margin-left: 56px;
    text-align: justify;
    padding-top: 21px;
    padding-bottom: 21px;
   }

   h1.edicao3 {
    text-align: justify;
    padding: 21px;
   }

   main p {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: normal;
    margin-top: 21px;
    margin-right: 56px;
    margin-bottom: 21px;
    margin-left: 56px;
    text-align: justify;
   }

   p.link::after {
    content: '\00A0\1F517';
   }

   p img {
    width: 5%;
   }

   footer {
    background-color: rgba(173, 216, 230, 0.150);
    min-height: 50px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 7px;
   }

   footer p {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: normal;
    margin-top: 21px;
    margin-bottom: 21px;
   }